.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: rgb(44, 44, 44);
  color: white;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: transparent;
  border: 1px solid #9FA0FF;
  border-radius: 7px;
  color: #9FA0FF;
  font-size: 20px;
  padding: 10px 20px;
}

a.active {
  background-color: #9FA0FF;
  color: rgb(44, 44, 44);
}

#nav-container {
  margin-bottom: 30px;
}